include README.md SIGNING_KEYS.pub LICENSE INSTALL
include doc/wiki/using-mmgen/*
include test/*.py
include test/ref/*
include test/ref/litecoin/*
include test/ref/ethereum/*
include test/ref/ethereum_classic/*
include test/ref/dash/*
include test/ref/zcash/*
include test/ref/monero/*

include scripts/bitcoind-walletunlock.py
include scripts/compute-file-chksum.py
include scripts/create-token.py
include scripts/deinstall.sh
include scripts/tx-old2new.py
include scripts/test-release.sh

prune test/ref/__db*
