# Configuration file for the MMGen suite
# Everything following a '#' is ignored

################
# User options #
################

# Uncomment to suppress the GPL license prompt:
# no_license true

# Uncomment to enable quieter output:
# quiet true

# Uncomment to disable color output:
# color false

# Uncomment to force 256-color output when 'color' is true:
# force_256_color true

# Uncomment to use regtest mode (this also sets testnet to true):
# regtest true

# Uncomment to use testnet instead of mainnet:
# testnet true

# Set the RPC host (the host the coin daemon is running on):
# rpc_host localhost

# Set the RPC host's port number
# rpc_port 8332

# Uncomment to override 'rpcuser' from coin daemon config file
# rpc_user myusername

# Uncomment to override 'rpcpassword' from coin daemon config file
# rpc_password mypassword

# Uncomment to set the coin daemon datadir
# daemon_data_dir /path/to/datadir

# Set the default hash preset:
# hash_preset 3

# Set the default number of subseeds:
# subseeds 100

# Set the default number of entropy characters to get from user.
# Must be between 10 and 80.
# A value of 0 disables user entropy, but this is not recommended:
# usr_randchars 30

# Set the maximum transaction fee for BTC:
# btc_max_tx_fee 0.003

# Set the maximum transaction fee for BCH:
# bch_max_tx_fee 0.1

# Set the maximum transaction fee for LTC:
# ltc_max_tx_fee 0.3

# Set the maximum transaction fee for ETH:
# eth_max_tx_fee 0.005

# Set the transaction fee adjustment factor. Auto-calculated fees are
# multiplied by this value:
# tx_fee_adj 1.0

# Set the maximum transaction file size:
# max_tx_file_size 100000

# Set the maximum input size - applies both to files and standard input:
# max_input_size 1048576

# Set the Ethereum mainnet name
# eth_mainnet_chain_name foundation

# Set the Ethereum testnet name
# eth_testnet_chain_name kovan

#####################################################################
# The following options are probably of interest only to developers #
#####################################################################

# Uncomment to display lots of debugging information:
# debug true

# Set the timeout for RPC connections:
# http_timeout 60
